:root{
  --dark-color: #2B2D42;
  --red-color:#D80032;
  --blue-color: #41EAD4;
  --light-color: #FEFEFE;

  --red-hover-color:#be0732;
  --blue-hover-color: #6af3e1;

}

*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: "Roboto",sans-serif;
}

.wrapper{
  width: 1152px;
  margin:0 auto;
  padding: 0 100px;
}

a.btn{
  background: var(--red-color);
  border-radius: 24px;
  padding: 14px 30px;
}

a.btn.cyan{
  color: var(--dark-color);
  background-color: var(--blue-color);
}

a{
  text-decoration: none;
}